<h2>products list</h2>
<div style ="background-color:yellow"
*ngFor="let product of products">

<!--<h3>
    Id:  {{ product.id }} <br/>
    Name: {{product.name}} <br/>
    Price: {{product.price}} <br/>
    Description:{{product.description}}-->
    
   <h1>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
      </a>
      </h1>

      <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>
  
  <app-product-alert
  [product]="product"
  (notify)="onNotify()">
</app-product-alert>
    
  
  
  </div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->